.stats {
  font-size: 2.5vh;
  background-color: #aaa;
  width: 15vw;

  .stat-line {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    align-items: center;

    &.accent {
      .stat-value {
        background-color: #221f4b;
        color: #fff;
        border-radius: 1vw;
      }
    }
  }

  .stat-label {
    // width: 9vw;
    padding-left: 1vw;
    width: 15vw;
  }

  .stat-value {
    font-size: 4vh;
    text-align: center;
    width: 13vw;
  }
}
